<ion-content>
  <ion-card style="
  margin-top: 80px;">
    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-img src="../../assets/icon/registro-1.png"></ion-img>
      </ion-item>
      <ion-item style="margin-top: 10px;">
        <ion-icon name="person-circle-outline" style="margin-right: 10px;"></ion-icon>
        <ion-input required formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item style="margin-top: 10px;">
        <ion-icon name="bag-remove-outline" style="margin-right: 10px;"></ion-icon>
        <ion-input
          required
          formControlName="password"
          type="password"
          placeholder="Password"
        ></ion-input>
      </ion-item>
      <ion-item style="margin-top: 10px;">
        <ion-icon name="bag-check-outline" style="margin-right: 10px;"></ion-icon>
        <ion-input
          required
          formControlName="confirm"
          type="password"
          placeholder="Confirmar Password"
        ></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" [disabled]="frm.invalid" style="margin-top: 10px;"
        >Registrarse</ion-button
      >
    </form>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar style="display: flex;justify-content: center;">
      <ion-button style="justify-content: center;width: 100%;" [routerLink]="['/login']">
        Iniciar Sesion 
      </ion-button>
  </ion-toolbar>
</ion-footer>
